nav-width = 180px
right-column-width = 250px

body
  margin: 5px
  padding: 5px
  font: 1em verdana, arial, sans-serif

div#header
  text-align: center
  margin-top: 0px
  height: 48px
  background-color: #CCC
  padding-top: 12px

  h1
    width: 10em
    margin-top: 0px
    margin-right: auto
    margin-left: auto
    font: 1.2em bold "comic sans MS", arial, sans-serif    
    padding: 0 0 .1em
    border-top: 2px solid #069
    border-bottom: 1px solid #069

div#nav
  position: absolute
  width: nav-width
  font-size: .75em
  top: 60px
  left: 0px
  padding: .5em 0 0 0;
  margin: 20px 0 0 20px

  ul
    text-align: center
    border:0;
    margin: 12px 20px 12px 1.25em
    padding: 0
    list-style-type: none

  li:first-child
    border-top: 2px solid #069


  li 
    border-bottom: 2px solid #069
    margin: 0
    padding :.3em 0; 
    text-indent: .5em

    a 
      text-decoration: none
      color: #069

div#rightColumn
  position: absolute
  width: right-column-width
  top: 60px
  right: 0px
  margin: 37px 15px 0 0
  padding 0em .5em
  border-top: 2px solid #069
  border-bottom: 1px solid #069

  p 
    font-size: .75em

div#content
  clear: auto
  margin: 20px (right-column-width + 25) 0 (nav-width + 15)
  padding: 0 1em

  h1
    padding: 0px
    margin: 0px

  h2
    padding: 0 0 0 0
    margin: 0px
  p 
    font-size: .9em

  li
    font-size: .75em

  .post 
    padding-bottom: 1em
    clear: auto

    .title
      display: inline

    .date
      display: inline
      float: right

    .clear
      clear: both

    h3
      padding: 10px 0 0 0
      margin: 0px

    img
      float: left
      padding-right: 1em
      max-width: 100%

    hr
      clear: both

    blockquote
      font-style: italic
      text-align: right
      margin: 0px
      padding-right: 1em
      border-right: 1px solid #069

  .project
    background-color: #CCC
    border-radius: 25px
    padding: 15px
    margin: 10px 0 0 0

    .title
      display: inline

    .website
      font-size: .8em
      margin: 0px
      padding: 0px

    .technologies
      font-size: .8em
      margin: 0px
      padding: 4px 0 0 0

    .date
      font-size: .75em
      display: inline
      float: right

    .logo
      padding: 1px 10px 1px 1px
      float:left
      height: 10em
      min-height: 10em
      max-width: 13em

    .clear
      clear:both

  .about 
    img 
      padding: 5px